body{
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.base{
	height: 500px;
	width: 924px;
	background: linear-gradient(#3b547c, #060608);
	position: fixed;
}

.nav_bar{
	height: 500px;
	width: 200px;
	float: left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: linear-gradient(#222323, #0B0C0C);
	opacity: 0.7;
}

.nav_item{
	margin-top: 30px;
	list-style-type: none;
	color: #FFF;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}

.nav_item li{
	padding: 15px 10px 15px 0px;
	font-size: 15px;
	border-bottom: 1px solid #fff;
}

.nav_item li:hover{
	color: #75FF75;
	cursor: pointer;
}

.music_collection{
	width: 724px;
	overflow: auto;
	height: 500px;
	float: left;
	box-sizing: border-box;
	padding: 32px;
	display: none;
}

.music_collection h1{
	font-size: 26px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
	color: #fff;
}

/* Adds padding at the bottom when overflow occurs */
.music_collection > :last-child {
	margin-bottom: 25px;
}

.show{
	display: block;
}

.collection_cover{
	width: 160px;
	height: 205px;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2000ms;
}

.collection_cover img{
	height: 150px;
	width: 150px;
	margin-bottom: 5px;
}

.is_active{
	opacity: 1;
}

.album_info{
	height: 500px;
	width: 300px;
	position: relative;
	float: left;
}

.album_cover{
	position: absolute;
	margin-top: 30px;
	left: 50%;
	margin-left: -125px;
	height: 400px;
	width: 250px;
	text-align: center;
	color: #fff;
}

.title{
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	display: inline-block;
}

.desc{
	font-size: 13px;
	display: inline-block;
	padding: 5px;
}

.track_info{
	width: 624px;
	height: 500px;
	color: #fff;
	float: left;
}

.track_title{
	width: 500px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 15px;
}

.artist{
	color: #909090;
	font-size: 13px;
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 15px
}

img{
	height: 230px;
	width: 230px;
	display: block;
	margin: auto;
	box-shadow: 0 0 8px #060608;
}