body{
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.base{
	height: 500px;
	width: 924px;
	background: linear-gradient(#48565b, #060608);
	position: fixed;
	overflow: hidden;
}

.nav_bar{
	height: 500px;
	width: 200px;
	float: left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: linear-gradient(#222323, #0B0C0C);
	opacity: 0.7;
	box-shadow: 0 0 8px #060608;
}

.nav_item{
	margin-top: 30px;
	list-style-type: none;
	color: #b2bab2;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}

.nav_item li{
	padding: 15px 10px 15px 0px;
	font-size: 15px;
	border-bottom: 1px solid #fff;
}

.nav_item li:hover{
	color: #fff;
	cursor: pointer;
}

.logo{
	width: 400px;
	height: 144px;
	position: relative;
	left: 50%;
	margin-left: -200px;
}

a{
	color: #30e871;
	text-decoration: none;
}

.music_collection{
	width: 724px;
	overflow: auto;
	height: 500px;
	float: left;
	box-sizing: border-box;
	padding: 32px;
	display: none;
	color: #fff;
}

.music_collection h1{
	font-size: 26px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
}

.music_collection h2{
	font-size: 22px;
}

.music_collection p{
	font-size: 14px;
}

/* Adds padding at the bottom when overflow occurs */
.music_collection > :last-child {
	margin-bottom: 25px;
}

.show{
	display: block;
}

.collection_cover{
	width: 160px;
	height: 205px;
	float: left;
	color: #fff;
	font-size: 12px;
	text-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2000ms;
}

.collection_cover img{
	height: 150px;
	width: 150px;
	box-shadow: 0 0 8px #060608;
	display: block;
	box-sizing: border-box;
	margin-left: 5px;
	margin-bottom: 5px;
}

.collection_cover img:hover{
	cursor: pointer;
}

.collection_cover span:hover{
	cursor: pointer;
}

.is_active{
	opacity: 1;
}

/* Album info*/
.album_wrapper{
	height: 500px;
	width: 924px;
	position: absolute;
	background: linear-gradient(#48565b, #060608);
	top: 0px;
	transition: top 700ms cubic-bezier(.17,.67,.12,1.14);
}

.hide_album_info{
	top: 500px;
}

.album_info{
	height: 500px;
	width: 350px;
	position: relative;
	top:0px;
	float: left;
}

.album_cover{
	position: absolute;
	margin-top: 30px;
	left: 50%;
	margin-left: -125px;
	height: 400px;
	width: 250px;
	text-align: center;
	color: #fff;
	font-size: 13px;
}

.album_cover img{
	height: 230px;
	width: 230px;
	display: block;
	margin: auto;
	box-shadow: 0 0 8px #060608;
}

.album_cover span{
	display: inline-block;
	padding: 5px;
}

.title{
	font-size: 19px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	display: inline-block;
}

.track_info{
	width: 574px;
	height: 500px;
	color: #fff;
	float: left;
	overflow: auto;
	font-size: 14px;
}

.track_list{
	width: 400px;
	display: inline-block;
	padding-top: 10px;
	margin-left: 15px;
}

.artist{
	color: #909090;
	font-size: 13px;
	display: inline-block;
	padding-bottom: 5px;
	padding-left: 15px
}

.button{
	background-color: #30e871;
	position: absolute;
	border-radius: 20px;
	bottom: 40px;
	font-size: 12px;
	padding: 7px 36px;
	outline: none;
	border: none;
	left: 50%;
	margin-left: -54px;
	color: #fff;
	cursor: pointer;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: rgba(166 , 166, 166, 0.4);
}

::-webkit-scrollbar-track{
	opacity: 0;
}